[phases.setup]
nixPkgs = ['nodejs_20', 'python3', 'gcc', 'gnumake']
nixLibs = ['stdenv.cc.cc.lib']

[phases.install]
cmds = ['npm ci']

[phases.build]
cmds = ['npm run build']

[start]
cmd = 'npm run start'
